mat-form-field{
    width: 300px;
}

table
{
    width: 90%;
}

#schedulePaginator
{
    width: 90%;
}
.formInput{
    width: 300px;
}
.viewScheduleButton{
    text-align: right;
}

.column-warning{
    background-color: yellow;
}

.hasFullCoverageWarning{
    width: 30%;
}